@import "global.css";

.example-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
margin-left: auto;
margin-right: auto;
padding: 40px;
width: 90%;
z-index: 2;
}

.img{
    width: 400px;
    height: 400px;
    margin-left: 40px
    border

}
.example-header{
    font-size: 3rem;
    width: 50%;
    font-family: var(--main-headings-font);
    letter-spacing: 3px;
}
.financial-example-text{
    width: 60%;
}
.example-img{
    width: 40%;
}
.financial-example-text, .example-header{
margin-left: auto;
margin-right: auto;
}


.btn {
    color: #1e0e0e;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background: linear-gradient(to bottom left, #82B0FF 40%,  #6183fe 100%);
    border: 1px solid rgba(145, 15, 15, 0.2);
    font-family: var(--secondary-headings-font);
    margin-top: 30px;
    }
    
    .btn:hover {
    background-color: rgba(145, 6, 6, 0.12);
    }
    


@media only screen and (max-width: 900px) {
  
.img{
    height: 200px;
    width: 200px;
    margin: 0;


}


.example-header{
    font-size: 2rem;
}

.financial-example-text{
    width: 80%;
}
}


@media only screen and (max-width: 620px) {
    .example-container{
        flex-direction: column;
    }
}


