:root{
    --main-color: #FE5757;
    --secondary-color: #36CB8E;
    --light-accent-color:#82B0FF;
    --dark-accent-color: #9D74D8;
    --paragraph-text-color: black;
    --main-headings: black ;
    --secondary-headings-font: 'Francois One', sans-serif;
    --main-headings-font: 'Alfa Slab One';
    --paragraph-text-font: 'Karla', sans-serif;
}
h1{
    font-family: var(--main-headings-font);
}
h2,h3,h4,h5,h6 {
    font-family: var(--secondary-headings-font);
}
p {
    font-family: var(--paragraph-text-font);
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    background-color: black;
}
li{list-style: none;}
a{
    color: white;
}
.navbar{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.logo{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.nav-link:hover{
    color: #46748E;
    transition: all 0.3s ease 0s;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}
@media(max-width:820px){
    .hamburger{
        display: block;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 10px;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transform: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

footer{
    background-color: black;
}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.social-media{
    display: flex;
    justify-content: center;
}
.social-media a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.social-media a i{
        font-size: 2em;
    }
.social-media i{
    color: black;
}
.footer-nav{
    margin: 30px;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
}
.footer-nav ul li a{
    color: white;
    margin: 20px;
    font-size: 1.5em;
}


.hero-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: auto;
    width: auto;
    font-size: 3rem;
    margin: 0px 0;
}

.background {
    height: 100vh;
    width: 50%;
    float: right;
    padding: 2em;
    box-sizing: border-box;
    background-color: white;
    border: 3em solid transparent;
}

.why {
height: 100vh;
background-color: white;
}

h2 {
    text-align:center;
    
}

.section-container1 {
    width: 60%;
    height: 25vh;
    float: left;
    padding: 2em;
    box-sizing: border-box;
    background-color:#FE5757 ;
    border: 1em var(--secondary-color) transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.section-container2 {
    width: 60%;
    height: 25vh;
    float: right;
    padding: 2em;
    box-sizing: border-box;
    background-color: #36CB8E;
    border: 3em var(--secondary-color) transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.section-container3 {
    width: 60%;
    height: 25vh;
    float: left;
    padding: 2em;
    box-sizing: border-box;
    background-color: #82B0FF;
    border: 3em var(--secondary-color) transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.section-container4 {
    width: 60%;
    height: 25vh;
    float: right;
    padding: 2em;
    box-sizing: border-box;
    background-color: #9D74D8;
    border: 3em var(--secondary-color) transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.hero-image {
    width: 100%;
    height: 25vh;
    float: right;
}



/* Mediaq */
@media (max-width:412px){
    .minority{
        display: none;
    }
    .about{
        width: 100%;
    }
    .footer-nav ul{
        flex-direction: column;
    }
    .footer-nav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

/* Mediaq */
@media (max-width:820px){
.section-container1 {
    width: 100%;
    height: 25vh;
    float: left;


}

.section-container2 {
    width: 100%;
    height: 25vh;
    float: right;
   

}

.section-container3 {
    width: 100%;
    height: 25vh;
    float: left;
   

}

.section-container4 {
    width: 100%;
    height: 25vh;
    float: right;
  
}
}

/* Mediaq */
@media (max-width:390px){
    .hero-container{
        background-color: white;
        display: flex;
        align-content: center;
        height: auto;
        width: auto;
        font-size: 1rem;
        text-align: center;
    
        }
    
    .hero-image{
        width: 100%;
        height: 25vh;
    }
    
        }

/* Mediaq */
@media (max-width:830px){

.hero-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
    font-size: 2rem;
    text-align: center;

    }

.hero-image{
    width: 100%;
    height: 25vh;
}

    }